#editor {
  height: auto;
  min-height: 200px;
  padding: 6px 12px;
  .ql-editor.ql-blank::before {
    font-style: normal;
    left: 12px;
  }
}
#editor .ql-editor {
  font-size: 0.9rem;
  overflow: visible;
  padding: 0;
}

/* Specify our own scrolling container */
#editor-container {
  height: 100%;
  min-height: 200px;
  overflow: visible;
}

#uploadImage {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  .dz-default {
    order: 1000;
    height: 100px;
    border: 3px dashed lighten($primary-color, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      text-align: center;
      .fa-cloud-upload {
        color: $text-muted;
        font-size: 50px;
      }
    }
  }
  .dz-image-preview {
    margin: 5px 0;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
      display: block;
      position: absolute;
      top: 0;
      z-index: 0;
      transition: all .2s ease-out;
    }
    .dz-details {
      opacity: 0;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      z-index: 10;
      transition: all .2s ease-out;
      font-size: 10px;
      word-break: break-all;
      padding: 0 5px;
    }
    .btn-danger {
      opacity: 0;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: $background-color;
      transition: all .2s ease-out;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      &::after {
        background-color: rgba(255, 255, 255, 0.8);
        transition: all .2s ease-in;
      }
      .dz-details {
        opacity: 1;
        transition: all .2s ease-in;
      }
      .btn-danger {
        opacity: 1;
        transition: all .2s ease-in;
      }
    }
    img {
      width: 100%;
    }
    .dz-remove {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    .card-columns {
      column-count: 2;
    }
  }
}
