
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// libraries
@import "~@yaireo/tagify/dist/tagify.css";
@import '~quill/dist/quill.bubble.css';
@import "~croppie/croppie.css";

// style
@import "main";
@import "dashboard";
@import "resep";
@import "profil";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
